.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base);
  border: 1px solid var(--color-gray-45);
  padding: var(--spacing-base);
  border-radius: var(--sizing-radius-medium);
}
