/**
 * Light theme
 */

:root:not([data-theme]),
:root[data-theme="undefined"],
:root[data-theme="light"] {
  --shadow-xl: 0px 25px 50px -12px #00000040;
  --shadow-lg:
    0px 8px 10px -6px #0000001a, 0px 20px 25px -5px #0000001a,
    0px 0px 4px 0px #0000001f;
  --shadow-md:
    0px 4px 6px -4px #0000001a, 0px 10px 15px -3px #0000001a,
    0px 0px 4px 0px #0000001f;
  --shadow-sm:
    0px 4px 8px -4px #00000014, 0px 2px 2px 0px #0000001a,
    0px 0px 2px 0px #0000001a, 0px 0px 4px 0px #0000001f;
  --button-fill-overlay-hover: rgba(216, 216, 216, 0.85);
  --button-fill-overlay: rgba(216, 216, 216, 0.7);
  --button-fill-warning-tertiary: rgba(211, 32, 32, 0);
  --button-fill-tertiary: rgba(255, 255, 255, 0);
  --fill-highlight: rgba(84, 169, 254, 0.2);
  --fill-overlay: rgba(255, 255, 255, 0.6);
  --bg-scrim: rgba(0, 0, 0, 0.2);
  --tbd: #ff00e5;
  --sizing-text-spacing-heading-top-margin: 16px;
  --sizing-text-spacing-body-paragraph-spacing: 8px;
  --sizing-text-spacing-heading-paragraph-spacing: 8px;
  --sizing-spacing-xx-large: 40px;
  --sizing-spacing-x-large: 32px;
  --sizing-spacing-large: 24px;
  --sizing-spacing-medium: 16px;
  --sizing-spacing-smedium: 12px;
  --sizing-spacing-small: 8px;
  --sizing-spacing-x-small: 4px;
  --sizing-spacing-xx-small: 2px;
  --sizing-spacing-none: 0px;
  --sizing-radius-xx-large: 40px;
  --sizing-radius-x-large: 32px;
  --sizing-radius-large: 24px;
  --sizing-radius-medium: 16px;
  --sizing-radius-small: 8px;
  --sizing-radius-x-small: 4px;
  --sizing-radius-xx-small: 2px;
  --sizing-radius-none: 0px;
  --sizing-icon-xx-large: 128px;
  --sizing-icon-x-large: 64px;
  --sizing-icon-large: 40px;
  --sizing-icon-default: 24px;
  --sizing-icon-small: 20px;
  --sizing-icon-x-small: 16px;
  --sizing-icon-xx-small: 8px;
  --sizing-icon-none: 0px;
  --color-tacx-blue-70: #12587a;
  --color-tacx-blue-60: #1381b6;
  --color-tacx-blue-50: #21a1d6;
  --color-tacx-blue-40: #41b6e6;
  --color-tacx-blue-30: #88d1f1;
  --color-tacx-blue-20: #c0e5f7;
  --color-tacx-blue-10: #e3f1fb;
  --color-purple-70: #4f28c0;
  --color-purple-60: #5a30d7;
  --color-purple-50: #6439e4;
  --color-purple-40: #6f42f3;
  --color-purple-30: #815af7;
  --color-purple-20: #9370f9;
  --color-purple-10: #aa8dfc;
  --color-violet-70: #ac06bc;
  --color-violet-60: #c00fc4;
  --color-violet-50: #cc1dc1;
  --color-violet-40: #d42fc2;
  --color-violet-30: #de45c6;
  --color-violet-20: #e55ecb;
  --color-violet-10: #ed79d5;
  --color-teal-70: #0b7285;
  --color-teal-60: #0c8599;
  --color-teal-50: #1098ad;
  --color-teal-40: #15aabf;
  --color-teal-30: #22b8cf;
  --color-teal-20: #3bc9db;
  --color-teal-10: #66d9e8;
  --color-lime-70: #74b816;
  --color-lime-60: #82c91e;
  --color-lime-50: #94d82d;
  --color-lime-40: #a9e34b;
  --color-lime-30: #c0eb75;
  --color-lime-20: #d8f5a2;
  --color-lime-10: #e9fac8;
  --color-green-70: #007838;
  --color-green-60: #04873b;
  --color-green-50: #0b963f;
  --color-green-40: #16a544;
  --color-green-30: #28b44e;
  --color-green-20: #40c35d;
  --color-green-10: #60d275;
  --color-yellow-90: #9f6d0b;
  --color-yellow-80: #bf8c29;
  --color-yellow-70: #e4a700;
  --color-yellow-60: #edb312;
  --color-yellow-50: #f5bf2a;
  --color-yellow-40: #faca48;
  --color-yellow-30: #fdd66b;
  --color-yellow-20: #fedb7c;
  --color-yellow-10: #ffe18e;
  --color-orange-80: #be4406;
  --color-orange-70: #cf4a06;
  --color-orange-60: #de5809;
  --color-orange-50: #ea670e;
  --color-orange-40: #f27716;
  --color-orange-30: #f98925;
  --color-orange-20: #fd9d39;
  --color-orange-10: #ffb154;
  --color-red-70: #b10d0d;
  --color-red-60: #c21515;
  --color-red-50: #d32020;
  --color-red-40: #e02c2c;
  --color-red-30: #ee3e3e;
  --color-red-20: #f85454;
  --color-red-10: #ff6f6f;
  --color-blue-70: #004ba0;
  --color-blue-60: #0a59b2;
  --color-blue-50: #1265c2;
  --color-blue-40: #1976d2;
  --color-blue-30: #2a88e6;
  --color-blue-20: #3b97f3;
  --color-blue-10: #54a9fe;
  --color-gray-black: #000000;
  --color-gray-white: #ffffff;
  --color-gray-70: #101010;
  --color-gray-65: #1d1d1d;
  --color-gray-60: #252525;
  --color-gray-55: #3b3b3b;
  --color-gray-50: #515151;
  --color-gray-45: #6c6c6c;
  --color-gray-40: #a6a6a6;
  --color-gray-35: #c3c3c3;
  --color-gray-30: #d8d8d8;
  --color-gray-25: #e4e4e4;
  --color-gray-20: #efefef;
  --color-gray-15: #f4f4f4;
  --color-gray-10: #fbfbfb;
  --accent-on-surface-dark-disabled: rgba(84, 169, 254, 0.5);
  --accent-on-surface-light-disabled: rgba(18, 101, 194, 0.5);
  --accent-fills-dark-disabled: rgba(25, 118, 210, 0.5);
  --accent-fills-light-disabled: rgba(18, 101, 194, 0.5);
  --slider-fill-inactive-tick-mark: var(--color-gray-45);
  --slider-fill-inactive-track: var(--color-gray-25);
  --slider-fill-active-tick-mark: var(--color-gray-white);
  --slider-fill-active: var(--color-gray-black);
  --inverse-bg-surface-02-inverse: var(--color-gray-60);
  --inverse-text-default-inverse: var(--color-gray-15);
  --toggle-toggle-focus: var(--color-blue-40);
  --toggle-toggle-off-hover: var(--color-gray-50);
  --toggle-toggle-off: var(--color-gray-45);
  --menu-fill-menu-hover: var(--color-gray-20);
  --input-stroke-input-focus: var(--color-gray-black);
  --input-stroke-input-hover: var(--color-gray-50);
  --input-stroke-input: var(--color-gray-45);
  --input-fill-input-focus: var(--color-gray-white);
  --input-fill-input-hover: var(--color-gray-white);
  --input-fill-input: var(--color-gray-10);
  --selection-stroke-selection-off-focus: var(--color-blue-40);
  --selection-stroke-selection-off: var(--color-gray-45);
  --selection-stroke-selection-on-focus: var(--color-gray-white);
  --selection-fill-selection-off-press: var(--color-gray-25);
  --selection-fill-selection-off-hover: var(--color-gray-15);
  --selection-fill-selection-off: var(--color-gray-white);
  --selection-fill-selection-on-press: var(--color-gray-60);
  --selection-fill-selection-on-hover: var(--color-gray-50);
  --selection-fill-selection-on: var(--color-gray-45);
  --active-fill-active-off: var(--color-gray-45);
  --active-fill-active-on: var(--color-gray-black);
  --button-stroke-focus: var(--color-blue-40);
  --button-stroke-secondary: var(--color-gray-45);
  --button-fill-elevated-press: var(--color-gray-25);
  --button-fill-elevated-hover: var(--color-gray-15);
  --button-fill-elevated: var(--color-gray-white);
  --button-fill-overlay-press: var(--color-gray-30);
  --button-fill-success: var(--color-green-50);
  --button-fill-warning-tertiary-press: var(--color-gray-30);
  --button-fill-warning-press: var(--color-red-70);
  --button-fill-warning-hover: var(--color-red-60);
  --button-fill-warning: var(--color-red-50);
  --button-fill-tertiary-press: var(--color-gray-30);
  --button-fill-tertiary-hover: var(--color-gray-25);
  --button-fill-secondary-press: var(--color-gray-40);
  --button-fill-secondary-hover: var(--color-gray-35);
  --button-fill-secondary: var(--color-gray-30);
  --fill-caution: var(--color-yellow-50);
  --fill-info: var(--color-gray-25);
  --fill-warning: var(--color-red-50);
  --fill-success: var(--color-green-10);
  --fill-always-black: var(--color-gray-black);
  --fill-always-white: var(--color-gray-white);
  --fill-subtle: var(--color-gray-25);
  --fill-secondary: var(--color-gray-50);
  --stroke-focus: var(--color-blue-40);
  --stroke-warning: var(--color-red-50);
  --stroke-success: var(--color-green-70);
  --stroke-secondary: var(--color-gray-45);
  --stroke-container: var(--color-gray-25);
  --stroke-divider: var(--color-gray-35);
  --stroke-selected: var(--color-gray-black);
  --bg-surface-03: var(--color-gray-15);
  --bg-surface-02: var(--color-gray-10);
  --bg-surface-01: var(--color-gray-white);
  --bg-hero: var(--color-gray-white);
  --bg-background-default: var(--color-gray-20);
  --bg-background-void: var(--color-gray-20);
  --data-viz-success: var(--color-green-70);
  --data-viz-neutral-secondary: var(--color-gray-40);
  --data-viz-neutral-primary: var(--color-gray-black);
  --data-viz-yellow-secondary: var(--color-yellow-20);
  --data-viz-yellow-primary: var(--color-yellow-40);
  --data-viz-violet-secondary: var(--color-violet-20);
  --data-viz-violet-primary: var(--color-violet-40);
  --data-viz-teal-secondary: var(--color-teal-20);
  --data-viz-teal-primary: var(--color-teal-40);
  --data-viz-red-secondary: var(--color-red-20);
  --data-viz-red-primary: var(--color-red-40);
  --data-viz-purple-secondary: var(--color-purple-20);
  --data-viz-purple-primary: var(--color-purple-40);
  --data-viz-orange-secondary: var(--color-orange-20);
  --data-viz-orange-primary: var(--color-orange-40);
  --data-viz-green-secondary: var(--color-green-20);
  --data-viz-green-primary: var(--color-green-40);
  --data-viz-blue-secondary: var(--color-blue-20);
  --data-viz-blue-primary: var(--color-blue-40);
  --icon-warning: var(--color-red-50);
  --icon-success: var(--color-green-70);
  --icon-always-black: var(--color-gray-black);
  --icon-always-white: var(--color-gray-white);
  --icon-secondary: var(--color-gray-45);
  --icon-default: var(--color-gray-70);
  --text-warning: var(--color-red-50);
  --text-success: var(--color-green-70);
  --text-always-black: var(--color-gray-black);
  --text-always-white: var(--color-gray-white);
  --text-secondary: var(--color-gray-45);
  --text-default: var(--color-gray-70);
  --icon-on-primary-dark: var(--color-gray-white);
  --icon-on-primary-light: var(--color-gray-white);
  --text-on-primary-dark: var(--color-gray-white);
  --text-on-primary-light: var(--color-gray-white);
  --accent-on-surface-dark-hover: var(--color-blue-20);
  --accent-on-surface-dark-press: var(--color-blue-20);
  --accent-on-surface-dark: var(--color-blue-10);
  --accent-on-surface-light-hover: var(--color-blue-60);
  --accent-on-surface-light-press: var(--color-blue-60);
  --accent-on-surface-light: var(--color-blue-50);
  --accent-fills-dark-hover: var(--color-blue-50);
  --accent-fills-dark-press: var(--color-blue-60);
  --accent-fills-dark: var(--color-blue-40);
  --accent-fills-light-hover: var(--color-blue-60);
  --accent-fills-light-press: var(--color-blue-70);
  --accent-fills-light: var(--color-blue-50);
  --inverse-text-action-inverse: var(--accent-on-surface-dark);
  --toggle-toggle-on-hover: var(--accent-on-surface-light-hover);
  --toggle-toggle-on: var(--accent-on-surface-light);
  --button-stroke-primary: var(--accent-on-surface-light);
  --button-fill-primary-press: var(--accent-fills-light-press);
  --button-fill-primary-hover: var(--accent-fills-light-hover);
  --button-fill-primary: var(--accent-fills-light);
  --fill-primary: var(--accent-fills-light);
  --stroke-action: var(--accent-on-surface-light);
  --bg-card: var(--bg-surface-01);
  --icon-on-primary: var(--icon-on-primary-light);
  --icon-action: var(--accent-on-surface-light);
  --text-on-primary: var(--text-on-primary-light);
  --text-action: var(--accent-on-surface-light);
}
