{% block header %}
<header>
<h1><a href="/">Welcome to HTMeXcel</a></h1>
{% block main_nav %}
<nav>
  <ul>
      <li><a href="admin">Admin</a></li>
  </ul>
</nav>
{% endblock %}
</header>

{% endblock %}