{% block header %}
<header class="header container">
  <h1><a href="/">HTMeXcel</a></h1>
{% block main_nav %}
<nav>
  <ul>
      <li><a href="admin">Admin</a></li>
  </ul>
</nav>
<button id="theme-toggle" aria-label="Toggle light or dark mode">
  <span class="icon-sun">☀️</span>
  <span class="icon-moon">🌙</span>
</button>
{% endblock %}
</header>

{% endblock %}