{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

<main class="main-content container">
    {# Grid #}
  <div class="inner-content grid">
    {# Cards #}
    <div class="dashboard-card card">
      <h2>See all programs</h2>
    </div>

    <div class="dashboard-card card">
      <h2>See exercise list</h2>
    </div>

  </div>
</main>


<div class="example-wrapper">

  <div id="parent-div">
    <button hx-get="/clicked"
    hx-trigger="click"
    hx-target="#parent-div"
    hx-swap="outerHTML">
    Click Me!
</button>
</div>
</div>
{% endblock %}
