{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>HTMeXcel 💪</h1>

  <div id="parent-div">
    <button hx-get="/clicked"
    hx-trigger="click"
    hx-target="#parent-div"
    hx-swap="outerHTML">
    Click Me!
</button>
</div>
</div>
{% endblock %}
