{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

<main class="main-content container">
    {# Grid #}
  <div class="inner-content grid">
    {# Cards #}
    <div class="dashboard-card card">
      <h2 hx-get="/programs"
          hx-trigger="click"
          hx-target="#program-details"
          hx-swap="innerHtml"
        >See all programs
        </h2>
      <span id="program-details">Programs will appear here...</span>
    </div>

    <div class="dashboard-card card">
      <h2>See exercise list</h2>
    </div>

    <div class="dashboard-card card">
      <h2>Current sports:</h2>
      {% include "./sport/index.html.twig" %}
    </div>

  </div>
</main>
{% endblock %}
