<ul id="sports-list">
  {% if sports  %}
    {% for sport in sports %}
     {% include "sport/_row.html.twig" %}
    {% endfor %}
  {% endif %}
</ul>
{# Add a new sport with name only #}
<span class="pill pill-neutral"
      hx-target="#debug"
      hx-swap="innerHtml"
      hx-trigger="click"
      hx-get="/sport/create/basic"  
    > Click to add a new sport +
    <span id="debug">...</span>